body {
    margin:0 auto;
    text-align: center;
}
/* div {
    border: 1px solid #000;
} */
.works-container {
    min-width: 250px;
    min-height: 510px;
    max-height: 2040px;
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.telegram:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 1037px) {

    .firstpage {
        height: 1125px;
    }
}

@media screen and (max-width: 781px) {

    .firstpage {
        height: 1380px;
    }
}

@media screen and (max-width: 526px) {

    .firstpage {
        height: 2400px;
    }
}

h1 {
    color: #ffffff;
}
h2 {
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
p {
    color:#ffffff;
}
.header {
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 46px;
}
.headerparagraph {
    margin-top: -20px;
    font-weight: lighter;
}
.firstpage {
    background-color:#de2b24;
    overflow:hidden;
    min-height: 870px;
}
.secondpage {
    background-color:#1287bf;
    overflow:hidden;
}
.textwork {
    background-color: #f35e59;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.firstpage>img {
    transform: scale(1.5);
}
.textwork:hover {
    font-size: 20px;
}
.work2:hover {
    transform: scale(1.2);
}
.work4:hover {
    transform: scale(1.2);
}
.work5:hover {
    transform: scale(1.2);
}
.work7 :hover {
    transform: scale(1.2);
}
div#work1 {
    width: 255px;
    height: 255px;
}
.work2 {
    width: 255px;
    height: 255px;
}
.work2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 90% 0%; 
 }
div#work2 {
    width: 255px;
    height: 255px;
}
div#work3 {
    width: 255px;
    height: 255px;
}
.work4 {
    width: 255px;
    height: 255px;
}
.work4 img {
    height: 100%;
    width: 100%;
 }
.work5 {
    width: 255px;
    height: 255px;
}
.work5 img {
    height: 100%;
    width: 100%;
 }
 div#work6 {
    width: 255px;
    height: 255px;
}
.work7 {
    width: 255px;
    height: 255px;
}
.work7 img {
    height: 100%;
    width: 100%;
 }
 div#work8 {
    width: 255px;
    height: 255px;
 }
.telegram {
    margin-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.textname {
    margin-top: -20px;
    font-size:15px;
}
.secondpage {
    clear:both;
    margin-top: -30px;
}
.image-down-button {
    cursor: pointer;
    margin-top: -65px;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    border:3px solid rgb(255, 255, 255)
}
.header1paragraph {
    margin-top: -20px;
}
.triangle-top {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 35px solid #ffffff;
}
.enterform {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #ffffff;
    min-width: 440px;
    max-width: 682px;
    height: 450px;
    margin-bottom: 110px;
}
.paragraphform {
    padding-top: 50px;
    margin:0 auto;
    min-width: 440px;
    max-width: 600px;
    color:#a1a1a1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.close-button {
    margin-left: auto;
    cursor: pointer;
    float: right;
    border-radius: 90%;
    border:2px solid rgb(255, 255, 255);
    background: teal;
    background-color: #de2b24;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top:-25px;
    margin-right: -22px;
}
.close-button:after {
    content: '';
    height: 25px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    left: 24px;
}

.close-button:before {
    content: '';
    height: 25px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    top: 11px;
    left: 24px;
}
input:focus{
    outline-color: #1287bf;
    border-radius: 3px;
}
.input-form {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-indent: 20px;
    margin-top: 40px;
    width: 440px;
    height: 50px;
}
input#phone-input {
    margin-top: 10px;
}
input#company-name-input {
    margin-top: 10px;
}
input.submit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    background-color: #de2b24;
    color: #ffffff;
    margin: 35px auto;
    height: 44px;
    width: 160px;
}

.header1 {
    padding: 60px;
}
.footer {
    margin-top: -17px;
    background: #2a2a2a;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer >p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 29px;
    margin-left: -15px;
    margin-top: 80px;
}
.chevron::before {
    border: #fff;
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 15px;
	
	margin-top: 19px;
	transform: rotate(-45deg);
	width: 15px;
}
.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}
.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.images>div {
    border-radius: 3px;
    border: 3px solid #515151;
    height: 45px;
    width: 45px;
    margin:0 auto;
}
div#facebook-link {
    background: url(../images/icon8.png) no-repeat ;
    background-position: 60% 50%;
}
div#twitter-link {
    background: url(../images/icon9.png) no-repeat center;
}
div#google-link {
    background: url(../images/icon10.png) no-repeat;
    background-position: 40% 40%;
}
div#linkedn-link {
    background: url(../images/icon11.png) no-repeat center;
}
.images>div:hover {
    border: 3px solid #de2b24;
}
p#footer-subscribe-text {
    margin-bottom: 30px;
    font-weight:200 ;
    font-size: 15px;
    clear: both;
    margin-top: 25px;
    color: #c3c3c3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.email-input-form {
    background-color: #515151;
    height: 50px;
    width: 590px;
    text-indent: 20px;
}

.email-input-form::placeholder {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:#afafaf;
}

.subscribe-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 700;
    border: 3px solid #515151;
    background-color: #2a2a2a;;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 80px;
    height: 44px;
    width: 160px;
}

.down-footer {
    display: flex;
    justify-content: center;
    background-color: #515151;
    min-height: 65px;
    max-height: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c6c6c6;
    line-height:65px;
}
.down-footer span:hover {
    filter: brightness(1.5);
}